@model InvoicingSystemMVC.Models.ViewModels.Facturas.CrearFacturaViewModel
@{
    
}
<h1>Hello from  Crear factura</h1>
<div>
    @if (TempData["Error"]!=null)
           {
               <div class="col-md-12 alert alert-danger">
                   <span><b>Sorry!</b> - @TempData["Error"]</span>
               </div>
           } 
    <div>
        <form method="post" asp-action="CrearFactura" >
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="p-2 m-2">
                <div class="form-group">
                    <label asp-for="Contribuyente.RFC" class="control-label"></label>
                    <label class="form-control">@Model.Contribuyente.RFC</label>
                    <label asp-for="Contribuyente.RazonSocial" class="control-label"></label>
                    <label class="form-control">@Model.Contribuyente.RazonSocial</label>
                    <input asp-for="Contribuyente.RFC" type="hidden">
                </div>
                <div class="form-group">
                    <label asp-for="Cliente.RFC" class="control-label"></label>
                    <select asp-for="Cliente.RFC" asp-items="Model.Clientes" class="form-select"></select>
                </div>
            </div>
            
            <div class="p-2 m-2">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="TipoDeFactura" class="control-label"></label>
                            <input asp-for="TipoDeFactura" class="form-control"/>
                        </div>
                        <div class="form-group">
                            <label asp-for="UsoDeFactura" class="control-label"></label>
                            <input asp-for="UsoDeFactura" class="form-control"/>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="Moneda" class="control-label"></label>
                            <input asp-for="Moneda" class="form-control"/>
                        </div>
                        <div class="form-group">
                            <label asp-for="FormaDePago" class="control-label"></label>
                            <input asp-for="FormaDePago" class="form-control"/>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="form-group">
                <input class="btn btn-outline-success float right" type="submit" value="Sign up"/>
            </div>
        </form>
    </div>
</div>