@model IEnumerable<InvoicingSystemMVC.Models.Entities.Cliente>
@inject IHttpContextAccessor httpContextaccessor
@{
    bool user = false;
    string RFC = "";
    foreach (var cookie in httpContextaccessor.HttpContext.Request.Cookies)
    {
        if (cookie.Key.Equals("RFC"))
        {
            user = true;
            RFC = cookie.Value;
            break;
        }
    }
}

<div class="container mt-5 text-center">
    <h1>Invoices</h1>
    <div>
        <a href="https://invoicingsystemblazor.azurewebsites.net/CrearFactura/@RFC" class="btn btn-primary">Crear factura blazor</a>
    </div>
</div>
