@page "/RoutableCounter"
@using InvoicingSystemMVC.Models.Entities
@using InvoicingSystemMVC.Controllers.Api.Services.Interfaces
@inject IClienteService ClienteService;

<PageTitle>Routable Counter</PageTitle>

<h1>Routable Counter</h1>

<p>Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }

    public List<Cliente> clientes = new List<Cliente>();
     
    protected override async Task OnInitializedAsync()
    {
        clientes = await ClienteService.GetClientes();
        foreach (var VARIABLE in clientes)
        {
            Console.WriteLine(VARIABLE.RFC);
        }
    //base.OnInitialized();
    }
    

    private async Task GetClientes()
    {
        
    }
}