@model InvoicingSystemMVC.Models.ViewModels.LogoutContribuyenteViewModel
<div class="row">
    <div class="col-md-8 offset-2">
        <form asp-action="Index" method="post">
            <div>
                <h1>¿Are you sure you want to logout?</h1>
                <h1>@Model.Contribuyente.RFC</h1>
                <div class="d-flex justify-content-center">
                    <input class="btn btn-outline-success float right" type="submit" value="Log out"/>
                </div>
            </div>
        </form>
    </div>
</div>