@model InvoicingSystemMVC.Models.ViewModels.EditarClienteViewModel
<div>
    <h1>¿Are you sure tou want to delete this client?</h1>
        <div class="card m-2">
            <div class="card-header">
                @Model.RFC
            </div>
            <div class="card-body">
                <h5 class="card-title">@Model.RazonSocial</h5>
                <p class="card-text">@Model.RegimenFiscal</p>
                <p class="card-text">Código Postal: @Model.CP</p>    
            </div>
        </div>

        <div class="form-group">
        <form action="Delete" method="post">
            <input type="hidden" asp-for="RFC"/>
            <input type="submit" value="Confirm" class="btn btn-danger float-right mt-3"/>
        </form>
    </div>
</div>